<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/css/favicon.jpg">  
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/home.css">
    <title>Cashless Canteen System</title>
</head>
<body>
    <header>
        <h1>Cashless Canteen System</h1>
        <nav>
            <a href="/login">Login</a>
        </nav>
    </header>
    
        <h2>Welcome to our cashless canteen system</h2>
        <p> make payments online, hassle-free.</p>
    <footer>
        <h3>Contact Us</h3>
        <p>If you have any questions or need assistance, please feel free to contact us:</p>
        <address>
            Email: <a href="mailto:psgtech@cashlesscanteen.com">psgtech@cashlesscanteen.com</a><br>
            Phone:8754880782
        </address>
    </footer>
</body>
</html>
