<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/css/favicon.jpg">  
    <link rel="stylesheet" href="/payment.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="payment-success">
        <div id="tick-mark"></div>
        <h1>Payment Successful</h1>
        <p>Thank you for your payment. Your transaction was successful.</p>
        <p>Transaction ID: <strong>123456789</strong></p>
        <p>Date: <strong>December 14, 2023</strong></p>
        <p>Amount Paid: <strong>50.00</strong></p>
        <div class="button-container">
            <button class="green-button">Done</button>
        </div>
        <br>
    <br>
    <div class="tran">
    <fieldset>
        <p>Transaction ID: <strong>123456789</strong></p>
        <p>Date: <strong>December 14, 2023</strong></p>
    </fieldset>
</div>
    </div>
    
</body>
</html>
